* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: auto;
    background-color: #e5eaf5;
    color: #150622;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: .5em;
    background-color: #150622;
    color: #e5eaf5;
}

#city-section {
    display: flex;
    flex-direction: row;
}

#cities {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 1em;
}

#city-stats {
    display: flex;
    margin: 1em;
    width: 60%;
}

.card-header span {
    display: block;
}

#forecast {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-left: 1em;
    width: 95%;
    padding: 0.25em;
    height: 100%;
}

#forecast {
    display: flex;
    flex-direction: row;
}

.cardF {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: .5em;
    width: 20%;
}
